@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1; 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;

    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}


.splash {
     background-color: rgba(0,0,0,0.55);
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 700px;
     min-height: 360px;
     z-index: 999;
     text-align: left;
     color: #FFE;
     display: none;
     padding: 15px;
 }
 
 .splash textarea, select {
    color: #333;
    background: rgba(255,255,255,0.9)
 }
 
 .prefs {
    background: rgba(255,255,255,0.9) !important;
    color: #533;
 }
 .prefs h3,input,textarea,select{
    color: #333;
    font-family: sans-serif;
 }
 
 .prefs p {
    color: #FFF;
 }
 
 .bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.phonebook_grouping {
    background: none;
    width: 400px;
    min-height: 48px;
    border: 1px solid #eee;
    border-left-color: #5bc0de;
    border-left-width: 5px;
    border-radius: 3px;
    float: left;
    background: rgba(247,247,247,1);
    border: 1px solid #333;
    margin-top: 10px;
    margin-left: 15px;
    
}

.phonebook_letter {
    background: #5bc0de;
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 14pt;
    font-family: sans-serif;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
    padding-top: 10px;
    vertical-align: middle;
    text-align: center;
    float: left;
    height: 100%;
    width: 32px;
    min-height: 56px;
    margin-right: 10px;
}

.phonebook_entry, .phonebook_entry a {
    background: none;
    color: #666;
    font-weight: 600;
    padding: 0px;
    float: left;
    margin-right: 8px;
    margin-top: 3px;
    margin-bottom: -2px;
    font-size: 10pt;
    font-family: sans-serif;
    text-align: center;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
    margin: 3px;
    border: 1px solid #666;
    border-radius: 4px;
    margin-top: 60px;
    margin-bottom: -60px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}