@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1; 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;

    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}


.splash {
     background-color: rgba(0,0,0,0.55);
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 700px;
     min-height: 360px;
     z-index: 999;
     text-align: left;
     color: #FFE;
     display: none;
     padding: 15px;
 }
 
 .splash textarea, select {
    color: #333;
    background: rgba(255,255,255,0.9)
 }
 
 .prefs {
    background: rgba(255,255,255,0.9) !important;
    color: #533;
 }
 .prefs h3,input,textarea,select{
    color: #333;
    font-family: sans-serif;
 }
 
 .prefs p {
    color: #FFF;
 }
 
 .bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.phonebook_grouping {
    background: none;
    width: 400px;
    min-height: 200px;
    border: 1px solid #eee;
    border-left-color: #5bc0de;
    border-left-width: 5px;
    border-radius: 3px;
    float: left;
    background: rgba(247,247,247,1);
    border: 1px solid #333;
    margin-top: 10px;
    margin-left: 15px;
    position: relative;
    padding-left: 40px;
    padding-bottom: 10px;
    
}

.phonebook_letter_right {
    background: linear-gradient(135deg, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 14pt;
    font-family: sans-serif;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
    padding-top: 10px;
    vertical-align: middle !important;
    text-align: center;
    float: left;
    top: 0px;
    bottom: 0px;
    width: 32px;
    margin-left: -41px;
    position: absolute;
}

.phonebook_letter {
    background: linear-gradient(135deg, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 14pt;
    font-family: sans-serif;
    margin: 2px;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
    padding-top: 5px;
    width: 32px;
    height: 42px;
}

.phonebook_entry, .phonebook_entry a {
    background: none;
    color: #666;
    font-weight: 500;
    padding: 0px;
    float: left;
    margin-right: 8px;
    margin-top: 3px;
    margin-bottom: -2px;
    font-size: 9pt;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    padding-bottom: 1px;
}

.phonebook_topletter {
    border-top: 2px solid #666;
    border-left: 0px solid #666;
    border-right: 1px solid #666;
    background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(219,219,219,1) 100%);
    color: #000;
    width: 24px;
    height: 32px;
    font-size: 14pt;
    margin: 1px;
    text-align: center;
}

.phonebook_topletter_active {
    border-top: 2px solid #666;
    border-left: 0px solid #666;
    border-right: 1px solid #666;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(242,242,242,1) 100%); 
    color: #000;
    width: 24px;
    height: 32px;
    font-size: 14pt;
    margin: 1px;
    text-align: center;
}

.phonebook_page {
    border-left: 2px solid #666;
    border-right: 2px solid #666;
    border-bottom: 2px solid #666;
    width: 675px;
    margin: 0px;
    padding: 0px;
    min-height: 400px;
    background: rgba(242,242,242,1);
    border-radius: 10px;
}

.phonebook_topletter:first-child {
    border-left: 2px solid #666;
    border-top-left-radius: 10px;
    margin-left: 0px;
    margin-top: -1px;
}
.phonebook_topletter:last-child {
    border-right: 2px solid #666;
    border-top-right-radius: 10px;
    margin-right: 0px;
    margin-top: -1px;
}

.phonebook_topletter_active:first-child {
    border-left: 2px solid #666;
    border-top-left-radius: 10px;
    margin-left: 0px;
    margin-top: -1px;
}
.phonebook_topletter_active:last-child {
    border-right: 2px solid #666;
    border-top-right-radius: 10px;
    margin-right: 0px;
    margin-top: -1px;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
    margin: 3px;
    border: 1px solid #666;
    border-radius: 4px;
    margin-top: 60px;
    margin-bottom: -60px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
}


.navbar-nav > li > a, .navbar-brand {
    padding-top:14px !important; 
    padding-bottom:0 !important;
    height: 48px;
}
.navbar {min-height:48px !important;}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.list-group-item {
    padding: 8px;
}

.should-scroll {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}