/*
 Licensed to the Apache Software Foundation (ASF) under one or more
 contributor license agreements.  See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 The ASF licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in compliance with
 the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/

/* Comment this out for now - breaks Safari 
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1; 
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    animation-duration:0.3s;

    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

*/

.splash {
     background-color: rgba(0,0,0,0.65);
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 700px;
     min-height: 360px;
     z-index: 999;
     text-align: left;
     color: #FFE;
     display: none;
     padding: 15px;
 }
 
 .splash textarea, select {
    color: #333;
    background: rgba(255,255,255,0.9)
 }
 
.splash p:first-child {
    font-size: 8pt;
    font-style: italic;
    margin-top: -10px;
    
 }
 
 .splash h3 {
    width: calc(100% + 30px);
    text-align: center;
    background: linear-gradient(to bottom, rgba(146,204,0,1) 0%,rgba(126,181,0,1) 100%); 
    color: #FFF;
    margin: 30px -15px 20px -15px;
 }
 
 .prefs {
    background: rgba(255,255,255,0.9) !important;
    color: #533;
 }
 .prefs h3,input,textarea,select{
    color: #333;
    font-family: sans-serif;
 }
 
 .prefs p {
    color: #FFF;
 }
 
 .bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.phonebook_grouping {
    background: none;
    width: 400px;
    min-height: 200px;

    float: left;
    background: rgba(247,247,247,1);
    border: 1px solid #333;
    margin-top: 10px;
    margin-left: 15px;
    position: relative;
    padding-left: 40px;
    padding-bottom: 10px;
    
}

.phonebook_letter_right {
    background: linear-gradient(135deg, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 14pt;
    font-family: sans-serif;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
    padding-top: 10px;
    vertical-align: middle !important;
    text-align: center;
    float: left;
    top: 0px;
    bottom: 0px;
    width: 32px;
    margin-left: -41px;
    position: absolute;
}

.phonebook_letter {
    background: linear-gradient(135deg, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
    border: 1px solid #333;
    border-radius: 4px;
    font-size: 14pt;
    font-family: sans-serif;
    margin: 2px;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
    padding-top: 5px;
    width: 32px;
    height: 42px;
}

.phonebook_entry, .phonebook_entry a {
    background: none;
    color: #666;
    font-weight: 500;
    padding: 0px;
    float: left;
    margin-right: 8px;
    margin-top: 3px;
    margin-bottom: -2px;
    font-size: 9pt;
    font-family: sans-serif;
    text-align: center;
    position: relative;
    padding-bottom: 1px;
}

.label {
    font-size: 85%;
    vertical-align: middle;
    padding-bottom: 0.2em;
}

.label-warning {
    background-color: #E59019;
}

.label-hover:hover {
    background-color: #E59019;
}
.phonebook_topletter {
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    border-bottom: none;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(219,219,219,1) 100%);
    color: #000;
    width: 24px;
    height: 28px;
    font-size: 14pt;
    margin: 1px;
    text-align: center;
}

.phonebook_topletter_active {
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    border-bottom: none;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: rgba(248,248,248,1);
    color: #000;
    width: 24px;
    height: 28px;
    font-size: 14pt;
    margin: 1px;
    text-align: center;
}

.phonebook_page {
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    border-top: none;
    width: 674px;
    margin: 0px;
    margin-top: -2px;
    padding: 0px;
    min-height: 400px;
    background: rgba(248,248,248,1);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.phonebook_topletter:first-child {
    border-top-left-radius: 10px;
    margin-left: 0px;
    margin-top: -1px;
}
.phonebook_topletter:last-child {
    border-top-right-radius: 10px;
    margin-right: 0px;
    margin-top: -1px;
}

.phonebook_topletter_active:first-child {
    border-top-left-radius: 10px;
    margin-left: 0px;
    margin-top: -1px;
}
.phonebook_topletter_active:last-child {
    border-top-right-radius: 10px;
    margin-right: 0px;
    margin-top: -1px;
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
    margin: 3px;
    border: 1px solid #666;
    border-radius: 4px;
    margin-top: 60px;
    margin-bottom: -60px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);
}


.navbar-nav > li > a, .navbar-brand {
    padding-top:14px !important; 
    padding-bottom:0 !important;
    height: 48px;
}
.navbar {min-height:48px !important;}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
body {
  /* Margin bottom by footer height */
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.list-group-item {
    padding: 8px;
}

.should-scroll {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}

.cloudword:hover {
    fill: yellow;
    /*font-size: 25px;*/
    font-weight: bold;
    cursor: pointer;
    z-index: 999;
}

.wordcloud {
    border: 1px solid #666;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
}



.navbar {
  margin: 0;
  border: 0;
  position: relative;
  top:0;
  left: 0;
  width:100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom:1px solid #242424;
  z-index: 2000;
}


.bubble-success {
position: relative;
min-width: 250px;
padding: 8px;
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
border-radius: 15px;
border: #5cb85c solid 2px;
}

#q {
    background-position: center left;
    
    
    
    background: url(/images/search.png) center left, linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    border: 1px inset #999;
    text-indent: 24px;
}

#popupper {
    position: fixed;
    top: 30px;
    margin: 0 auto;
    z-index: 100;
    background-color: #FFF;
}

.list-group-item:hover {
    background-color: #F7F8F9;
}

select {
    padding:2px;
    margin: 0;
    border-radius:4px;
    box-shadow: 0 1px 0 #ccc, 0 -1px #fff inset;
    background: url(/images/arrow.png) center right, linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    color:#555;
    border: 1px inset #999;
    padding-right: 16px;
    outline:none;
    display: inline-block;
    appearance: none;
    -moz-appearance: none; /* hrmpf! */
    -webkit-appearance: none;
    cursor:pointer;
}

.bubble-success:after {
     content: "";
     display: block;
	 width: 21px;
	 height: 15px;
	 position: absolute;
	 top: -14px;
	 left: 17px;
     border: 50% solid #FFF;
	 border-radius: 0 25px 0 0;
     background: #FFF;
}

.bubble-success:before {
	 content: "";
     display: block;
	 width: 25px;
	 height: 15px;
	 position: absolute;
	 top: -16px;
	 left: 15px;
     border: 50% solid #5cb85c;
	 border-radius: 0 25px 0 0;
     background: #5cb85c;
}


.bubble-primary {
position: relative;
min-width: 250px;
padding: 8px;
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
border-radius: 15px;
border: #428bca solid 2px;
}

.bubble-primary:after {
     content: "";
     display: block;
	 width: 21px;
	 height: 15px;
	 position: absolute;
	 top: -14px;
	 left: 17px;
     border: 50% solid #FFF;
	 border-radius: 0 25px 0 0;
     background: #FFF;
}

.bubble-primary:before {
	 content: "";
     display: block;
	 width: 25px;
	 height: 15px;
	 position: absolute;
	 top: -16px;
	 left: 15px;
     border: 50% solid #428bca;
	 border-radius: 0 25px 0 0;
     background: #428bca;
}


.bubble-danger {
position: relative;
min-width: 250px;
padding: 8px;
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
border-radius: 15px;
border: #d9534f solid 2px;
}

.bubble-danger:after {
    content: "";
     display: block;
	 width: 21px;
	 height: 15px;
	 position: absolute;
	 top: -14px;
	 left: 17px;
     border: 50% solid #FFF;
	 border-radius: 0 25px 0 0;
     background: #FFF;
}

.bubble-danger:before {
	 content: "";
     display: block;
	 width: 25px;
	 height: 15px;
	 position: absolute;
	 top: -16px;
	 left: 15px;
     border: 50% solid #d9534f;
	 border-radius: 0 25px 0 0;
     background: #d9534f;
}

.bubble-warning {
    position: relative;
    min-width: 250px;
    padding: 8px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    border-radius: 15px;
    border: #f0ad4e solid 2px;
}

.bubble-warning:after {
     content: "";
     display: block;
	 width: 21px;
	 height: 15px;
	 position: absolute;
	 top: -14px;
	 left: 17px;
     border: 50% solid #FFF;
	 border-radius: 0 25px 0 0;
     background: #FFF;
}

.bubble-warning:before {
    content: "";
     display: block;
	 width: 25px;
	 height: 15px;
	 position: absolute;
	 top: -16px;
	 left: 15px;
     border: 50% solid #f0ad4e;
	 border-radius: 0 25px 0 0;
     background: #f0ad4e;
}

.bubble-info {
position: relative;
min-width: 250px;
padding: 8px;
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
border-radius: 8px;
border: #5bc0de solid 2px;
}

.bubble-info:before {
	 content: "";
     display: block;
	 width: 25px;
	 height: 15px;
	 position: absolute;
	 top: -16px;
	 left: 15px;
     border: 50% solid #5bc0de;
	 border-radius: 0 25px 0 0;
     background: #5bc0de;
}


.bubble-info:after {
	 content: "";
     display: block;
	 width: 21px;
	 height: 15px;
	 position: absolute;
	 top: -14px;
	 left: 17px;
     border: 50% solid #FFF;
	 border-radius: 0 25px 0 0;
     background: #FFF;
}


